{% extends "base.html" %}

{% block content %}

<!-- The about content -->
<div class="about-content">
    <h1 class="about-h1">About the Secret Chef!</h1>

    <section class="about-text">
        <h3 class="about-h3">This website is created for all of you Secret Chefs at home!</h3>
        <p class="about-p">Who doesn't love seeing the surprised faces of your guests or closest family members time after time when they eat your food?</p>
        <p class="about-p">Secret Chef is the place to give others the same chance to impress their guests with your recipes and also for you to find new ones!</p>
        <p class="about-p">As a logged-in user, you can like, comment, and use the post site to share your recipes!</p>
    </section>
</div>
{%endblock%}