{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}


<!-- Form -->
<div class="form">
<div class="bd-example">
  
  <!-- Form -->
<div class="form">
  <div class="bd-example">

    <form class="was-validated" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      {{ form.name|as_crispy_field }}
      
      {{ form.description|as_crispy_field }}

      {{ form.category|as_crispy_field }}

      {{ form.photo|as_crispy_field }}
      
      <button class="btn btn-primary" type="submit">Submit recipe</button>
    </form>

  </div>
</div>

{%endblock%}