{% extends "base.html" %}

{% block content %}


<!-- Form -->
<div class="form">
<div class="bd-example">
  <input class="form-control form-control-lg" type="text" placeholder="Name of dish">
  <form class="was-validated">
    <div class="mb-3">
      <label for="validationTextarea"></label>
      <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Please provide us with a clear description and measurements of your recipe." required></textarea>
      <div class="invalid-feedback">
      </div>
    </div>


    <div class="form-group">
      <select class="custom-select" required>
        <option value="">Choose category</option>
        <option value="1">Breakfast</option>
        <option value="2">Dinner</option>
        <option value="3">Dessert</option>
      </select>
      <div class="invalid-feedback">Example invalid custom select feedback</div>
    </div>

    <div class="custom-file">
      <input type="file" class="custom-file-input" id="validatedCustomFile" required>
      <label class="custom-file-label" for="validatedCustomFile">Upload photo of your dish!</label>
      <div class="invalid-feedback">Example invalid custom file feedback</div>
    </div>
    <button class="btn btn-primary" type="submit">Submit recipe</button>
  </form>
</div>
</div>


<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div>
      <label for="id_name">Name:</label>
      {{ form.name }}
  </div>
  <div>
      <label for="id_description">Description:</label>
      {{ form.description }}
  </div>
  <div>
      <label for="id_photo">Photo:</label>
      {{ form.photo }}
  </div>
  <div>
      <label for="id_category">Category:</label>
      {{ form.category }}
  </div>
  <button type="submit">Submit</button>
</form>

{%endblock%}